body {
    background: black;
}

#navigation a.navbar-brand,
#navigation li {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

#intro .jumbotron {
    background: none;
}

@media screen and (min-width: 768px) {
    #intro h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 992px) {
    #intro h1 {
        font-size: 3.5em;
    }
}

.intro h1 {
    font-weight: 700;
    font-size: 2.5em;
}

#intro p {
    font-size: 1.3em;
}

#intro .breakline {
    border: 0;
    height: 2.5px;
    width: 7%;
    background: #f4623a;
}

#intro button {
    background-color: #f4623a;
    border-radius: 10em;
    font-size: 0.95rem;
    font-weight: 600;
    height: 60px;
    width: 185px;
    color: white;
}

/* .overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(92, 77, 66, 0.8);
} */

#get-started div {
    background-color: #f4623a;
    padding-top: 2em;
    padding-bottom: 2em;
}

#get-started .breakline-white {
    border: 0;
    height: 2.5px;
    width: 7%;
    background: white;
}

#get-started p {
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
}

#get-started button {
    background-color: white;
    border-radius: 10em;
    font-size: 0.95rem;
    font-weight: 600;
    height: 60px;
    width: 185px;
    color: black;
}