body {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#body {
    background-color: #f4623a;
}

#navigation a.navbar-brand,
#navigation li {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

#intro .jumbotron {
    background: none;
}

#intro h1 {
    font-weight: 700;
}

#intro p {
    font-size: 1.3em;
}

#intro .breakline {
    border: 0;
    height: 2.5px;
    width: 7%;
    background: #f4623a;
}

.overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(92, 77, 66, 0.8);
}